{% extends "base.html.jinja" %}
{% from "macros.jinja" import render_field %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% block content %}
    <div class="container p-5 my-5">
        <div class="card mb-4">
            <div class="card-header d-flex">
                <form method="get" class="d-flex">
                    <select name="warehouse" class="form-select" onchange="this.form.submit()">
                        {% for warehouse in warehouses %}
                            <option value="{{ warehouse.id }}"
                                    {% if warehouse == selected_warehouse %}selected{% endif %}>{{ warehouse.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="card-body">
                {% if pagination %}
                    <div class="mb-3">共 {{ pagination.total }} 项库存记录</div>
                    {{ render_pagination(pagination) }}
                {% endif %}
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>物品</th>
                            <th>品牌</th>
                            <th>规格</th>
                            <th>数量</th>
                            <th>均价</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set ns = namespace(prev_item=None) %}
                        {% for item in warehouse_items.get(selected_warehouse, []) %}
                            {% if ns.prev_item != item.itemSKU.item.name %}
                                {% set ns.prev_item = item.itemSKU.item.name %}
                                {% set ns.count = warehouse_items.get(selected_warehouse, []) | selectattr('itemSKU.item.name', 'equalto', item.itemSKU.item.name) | list | length %}
                                <tr>
                                    <td rowspan="{{ ns.count }}">{{ item.itemSKU.item.name }}</td>
                                    <td>{{ item.itemSKU.brand }}</td>
                                    <td>{{ item.itemSKU.spec }}</td>
                                    <td>{{ item.count }}</td>
                                    <td>¥{{ "%.2f"|format(item.average_price) }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ item.itemSKU.brand }}</td>
                                    <td>{{ item.itemSKU.spec }}</td>
                                    <td>{{ item.count }}</td>
                                    <td>¥{{ "%.2f"|format(item.average_price) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if pagination %}{{ render_pagination(pagination) }}{% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
