{% extends 'base.html.jinja' %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block content %}
<div class="container p-5 my-5 border">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            {{ render_form(itemSearchForm, form_type="inline") }}
            共搜索到 {{pagination.total}} 项内容。
        </div>
        <div>
            <a href="{{ url_for('item_create') }}" class="btn btn-primary">添加物品或具体型号</a>
        </div>
    </div>
    {{ render_pagination(pagination,
    name=itemSearchForm.name.data,
    brand=itemSearchForm.brand.data,
    spec=itemSearchForm.spec.data
    ) }}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>物品</th>
                <th>品牌</th>
                <th>规格</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(prev_item=none, rowspan=0) %}
            {% for itemsku in pagination.items %}
            {% if ns.prev_item != itemsku.item.name %}
            {# Count rowspan for current item #}
            {% set ns.rowspan = pagination.items|selectattr('item.name', 'equalto', itemsku.item.name)|list|length %}
            {% set ns.prev_item = itemsku.item.name %}
            <tr>
                <td rowspan="{{ ns.rowspan }}">{{ itemsku.item.name }}</td>
                <td>{{ itemsku.brand }}</td>
                <td>{{ itemsku.spec }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ itemsku.brand }}</td>
                <td>{{ itemsku.spec }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(pagination,
    name=itemSearchForm.name.data,
    brand=itemSearchForm.brand.data,
    spec=itemSearchForm.spec.data
    ) }}
</div>
{% endblock %}