{% extends "base.html.jinja" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container p-5 my-5 border">
    <h2>添加物品或具体型号</h2>
    <form method="post">
        {{ form.csrf_token }}
        {{ render_field(form.item_name) }}
        <datalist id="existing-items">
            {% for item in items %}
            <option value="{{ item.name }}"></option>
            {% endfor %}
        </datalist>
        {{ render_field(form.brand) }}
        {{ render_field(form.spec) }}
        {{ render_field(form.submit) }}
    </form>
    <a href="{{ url_for('item') }}" class="btn btn-secondary">返回</a>
</div>
{% endblock content %}