[site]
name = 青松城设备科仓库管理系统
secret_key = keep_this_secret

[seed]
public_areas =
    地下室
    1F房间
    1F公共区域
    2F房间
    2F公共区域
    3F房间
    3F公共区域
    4F房间
    4F公共区域
    5F屋面
    5-11F办公房房间
    5-11F办公房公共区域
    12-19F客房房间
    12-19F客房公共区域
    19F屋面
    其他公共区域
    班组
    老干部招待所
    岳阳大院
departments =
    活动中心主任室
    行政办公室
    康乐科
    餐饮服务科
    会务科
    总经理/副总经理室
    党建办
    人事科
    设备管理科
    安全保卫科
    规划财务科
    业务指导一科（营销）
    业务指导二科（客房）
    业务指导三科（餐饮）
    老干部大学
    老干部招待所
    岳阳大院
admin_username = admin
admin_nickname = 办公室
recycle_warehouse_name = 回收仓库
